<div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="productForm">

          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" formControlName="price">
          <div class="text-danger" *ngIf="f.price.invalid  && (f.price.dirty || f.price.touched)">
            <small *ngIf="f.price.errors?.min">Price has to greater than 0.</small>
          </div>

          <label for="brand">Brand</label>
          <input type="text" class="form-control" id="brand" formControlName="brand">
          <label for="imgUrl">URL</label>
          <input type="text" class="form-control" id="imgUrl" formControlName="imgUrl">
          <div class="text-danger" *ngIf="f.imgUrl.invalid">
            <small *ngIf="f.imgUrl.errors?.pattern">URL has to be start with http</small>
          </div>

          <label for="categories">Categories</label>
          <select [compareWith]="compareCats"class="form-control" formControlName="categories" id="categories" multiple>
              <option *ngFor="let cat of categories" [ngValue]="cat">{{cat.title}}</option>
          </select>

          <label for="uploader">Uploader</label>
          <select [compareWith]="compareUsers"class="form-control" formControlName="uploader" id="uploader">
              <option *ngFor="let user of users" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
          </select>

          <button class="btn btn-primary mt-2" (click)="addProduct()" [disabled]="productForm.invalid" >Hozzáadás</button>
        </form>
      </div>
    </div>
  
  
  </div>