
            <form *ngIf="!user.deleted" [formGroup]="accountForm">

                <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                   {{errorMsg}}
                </div>

                <div class="alert alert-success" role="alert" *ngIf="successMsg">
                    {{successMsg}}
                </div>

                <label for="balance">Kezdő egyenleg:</label>
                <input type="text" class="form-control" id="balance" formControlName="balance" placeholder="0">           

                <button  class="btn btn-primary mt-2" (click)="addAccount()"
                    [disabled]="accountForm.invalid">Új számla</button>
            </form>
    
