<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-7">
            <input class="form-control" [(ngModel)]="searchId" type="text" placeholder="Ügyfél azonosító">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="searchById()">Keresés</button>
        </div>
        <div class="col-md-7">
            <input class="form-control" [(ngModel)]="searchName" type="text" placeholder="Név">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="searchByName()">Keresés</button>
        </div>
        <div class="col-md-7">
            <input class="form-control" [(ngModel)]="searchSzig" type="text" placeholder="Személyi igazolvány száma">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="searchBySzig()">Keresés</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Új ügyfél:</h2>
            <form [formGroup]="userForm">

                <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                   {{errorMsg}}
                </div>

                <div class="alert alert-success" role="alert" *ngIf="successMsg">
                    {{successMsg}}
                </div>

                <label for="name">Név:</label>
                <input type="text" class="form-control" id="name" formControlName="name">

                <label for="adress">Cím:</label>
                <input type="text" class="form-control" id="adress" formControlName="adress">

                <label for="phone">Telefonszám:</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">

                <label for="szig">Személyi igazolvány szám:</label>
                <input type="text" class="form-control" id="szig" formControlName="szig">

               

                <button class="btn btn-primary mt-2" (click)="addUser()"
                [disabled]="userForm.invalid">Hozzáadás</button> 
                
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Ügyfél módosítás:</h2>

            <h5>Ügyfelek</h5>
                <ul class="heroes">
                    <li *ngFor="let user of users">
                        <span class="name">{{user.id}} </span>
                        <span class="name">{{user.name}} </span>
                        <span class="name">{{user.adress}} </span>
                        <span class="name">{{user.phone}} </span>
                        <span class="name">{{user.szig}} </span>
                        <span class="name"  *ngIf="user.deleted">Törölt!</span>
                        <button *ngIf="!user.deleted"class="selectforchange" type="button" (click)="onSelect(user)">Kijelöl</button>
                        
                        <button class="btn btn-primary" (click)="delete(user.id)">Töröl</button>
                    </li>
                </ul>


            <form [formGroup]="userForm" *ngIf="selectedUser && !selectedUser.deleted">

                <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                   {{errorMsg}}
                </div>

                <div class="alert alert-success" role="alert" *ngIf="successMsg">
                    {{successMsg}}
                </div>
                
                <div>Ügyfél Id: {{selectedUser.id}}</div>

                <label for="name">Módosított Név:</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="{{selectedUser.name}}" >

                <label for="adress">Módosított Cím:</label>
                <input type="text" class="form-control" id="adress" formControlName="adress" placeholder="{{selectedUser.adress}}">

                <label for="phone">Módosított Telefonszám:</label>
                <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="{{selectedUser.phone}}">

                <label for="szig">Módosított Személyi igazolvány szám:</label>
                <input type="text" class="form-control" id="szig" formControlName="szig" placeholder="{{selectedUser.szig}}">

               

                <button class="btn btn-primary mt-2" (click)="changeUser()"
                    >Módosítás</button>
            </form>
        </div>
    </div>


</div>