<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-7">
            <input class="form-control" [(ngModel)]="searchId" type="text" placeholder="Ügyfél azonosító">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="searchById()">Keresés</button>
        </div>
    </div>
        <div class="row mt-2">
        <div class="col-md-7">
            <input class="form-control" [(ngModel)]="searchName" type="text" placeholder="Név">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="searchByName()">Keresés</button>
        </div>
    </div>
        <div class="row mt-2">
        <div class="col-md-7">
            <input class="form-control" [(ngModel)]="searchSzig" type="text" placeholder="Személyi igazolvány száma">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="searchBySzig()">Keresés</button>
        </div>
    </div>
    <br>
    

    <div class="row">
        <div class="col-md-6">
            <h2>Új ügyfél:</h2>
            <form [formGroup]="userForm">

                <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                   {{errorMsg}}
                </div>

                <div class="alert alert-success" role="alert" *ngIf="successMsg">
                    {{successMsg}}
                </div>

                <label for="name">Név:</label>
                <input type="text" class="form-control" id="name" formControlName="name">

                <label for="adress">Cím:</label>
                <input type="text" class="form-control" id="adress" formControlName="adress">

                <label for="phone">Telefonszám:</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">

                <label for="szig">Személyi igazolvány szám:</label>
                <input type="text" class="form-control" id="szig" formControlName="szig">

               

                <button class="btn btn-primary mt-2" (click)="addUser()"
                [disabled]="userForm.invalid">Hozzáadás</button> 
                
            </form>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6">
            <h2>Ügyfél módosítás:</h2>

            <h5>Ügyfelek:</h5>
                <ul class="heroes">
                    <li *ngFor="let user of users" [ngStyle]="{'background-color':selectedUser && selectedUser.id === user.id ? 'green' : 'wheat', 'color':selectedUser && selectedUser.id === user.id ? 'wheat' : 'black' }" >
                        <span class="name">Ügyélszám: {{user.id}} </span>
                        <span class="name">Név: {{user.name}} </span>
                        <span class="name">Cím: {{user.adress}} </span>
                        <span class="name" *ngIf="user.phone">Telefonszám: {{user.phone}} </span>
                        <span class="name">Sz.ig.: {{user.szig}} </span>
                        <span class="name"  *ngIf="user.deleted" style="background-color: red; color: white;">Törölt!</span>
                        <button *ngIf="!user.deleted" type="button" (click)="onSelect(user)" class="btn btn-primary">Kijelöl</button>
                        
                        <button class="btn btn-primary" *ngIf="!user.deleted" (click)="delete(user.id)">Töröl</button>
                    </li>
                </ul>


            <form [formGroup]="changedUserForm" *ngIf="selectedUser && !selectedUser.deleted && changedUserForm">

                <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                   {{errorMsg}}
                </div>

                <div class="alert alert-success" role="alert" *ngIf="successMsg">
                    {{successMsg}}
                </div>
                
                <div>Ügyfél Id: {{selectedUser.id}}</div>

                <label for="name">Módosított Név:</label>
                <input type="text" class="form-control" id="name" formControlName="name"  >

                <label for="adress">Módosított Cím:</label>
                <input type="text" class="form-control" id="adress" formControlName="adress" >

                <label for="phone">Módosított Telefonszám:</label>
                <input type="text" class="form-control" id="phone" formControlName="phone" >

                <label for="szig">Módosított Személyi igazolvány szám:</label>
                <input type="text" class="form-control" id="szig" formControlName="szig" >

               

                <button class="btn btn-primary mt-2" (click)="changeUser()"
                [disabled]="changedUserForm.invalid">Módosítás</button>
            </form>
        </div>
    </div>


</div>