<form  [formGroup]="accountForm">

    <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
       {{errorMsg}}
    </div>

    <div class="alert alert-success" role="alert" *ngIf="successMsg">
        {{successMsg}}
    </div>
    <h5>Számlaszám: {{account.id}}</h5>

    <label for="balance">Összeg:</label>
    <input type="number" class="form-control" id="amount" formControlName="amount" placeholder="0"> 
    <label for="balance">Megjegyzés:</label>  
    <input type="text" class="form-control" id="description" formControlName="description" placeholder="Megjegyzés">           

    <button *ngIf="!account.deleted && !account.user.deleted"  class="btn btn-primary mt-2" (click)="addToBalance()"
        [disabled]="accountForm.invalid">Befizetés</button>

    <button *ngIf="!account.deleted && !account.user.deleted" class="btn btn-primary mt-2" (click)="deductFromBalance()"
        [disabled]="accountForm.invalid">Kifizetés</button>

    <button  *ngIf="!account.deleted" class="btn btn-primary mt-2" (click)="closeAccount()"
        >Zárol</button>
</form>
